@import "_animation";

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    .popup {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
//        position: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 100;
        background-image: url('../img/bg.png');
        animation: waveLeft 5s linear infinite;
      
        .popup-message {
            overflow: hidden;
            height: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
              width: 100%;
            
            h1 {
                color: #fff;
                font-size: 30px;
                margin: 50px 0 30px 0;
                font-family: 'Love Ya Like A Sister';
            }
            
            .short-link {
                font-size: 40px;
                text-align: center;
            }
            
            .players-row {
                height: 100px;
                margin-top: 100px;
                
                .player-1, .player-2 {
                    width: 118px;
                    height: 150px;
                    display: inline-block;
                    opacity: 0.7;
                    font-size: 20px;
                    position: relative;
                    
                    .avatar {
                        width: 118px;
                        height: 118px;
                    }
                    span {
                         color: #fff;
                      font-family: 'Love Ya Like A Sister';
                    }
                    
                    &.logged {
                        opacity: 1;
                    }
                }
                
                .player-1 {
                  
                    .avatar {
                        background-image: url('../img/hand_1.png')
                    }
                }
                
                .player-2 {
                    margin-left: 50px;
                    
                    .avatar {
                        background-image: url('../img/hand_2.png')
                    }
                }
            }
        }
        
        .timer {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            top: 0;
            background: #000;
            color: #fff;
            font-size: 100px;
            
            &.hidden {
                display: none;
            }
            
            h1 {
                font-size: 150px;
            }

            .countdown {
                
            }
        }
    }
}

.helm {
    width: 300px;
    height: 302px;
    position: absolute;
    bottom: -150px;
    left: 10px;
    background-image: url(../img/helm.png);
    animation: helm 10s linear infinite;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    background-size: contain;
  }