@keyframes compas {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes crack {
    0% {
        width: 25%;
    }
    
    10% {
        width: 95%;
    }
    
    20% {
        width: 15%;
    }
    
    30% {
        width: 40%;
    }
    
    40% {
        width: 25%;
    }
    
    50% {
        width: 70%;
    }
    
    60% {
        width: 45%;
    }
    
    70% {
        width: 90%;
    }
    
    80% {
        width: 50%;
    }
    
    90% {
        width: 25%;
    }
    
    100% {
        width: 25%;
    }
}

@keyframes helm {
    0% {
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes waveLeft {
  0% {
    background-position: 0px 0px;
  }
  
  100% {
    background-position: 10000px 0px;
  }
}

@keyframes waveRight {
  0% {
    background-position: 0px 0px;
  }
  
  100% {
    background-position: -10000px 0px;
  }
}

@keyframes coasts {
  0% {
    background-position: 0px 0px;
  }
  
  100% {
    background-position: 0px 10000px;
  }
}