@import "_animation";

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    .wavesHolder {
      z-index: 100001;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  
    .hud {
      z-index: 10000;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
    .coast-left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 103px;
        z-index: 9999;
        background-image: url('../img/coast_left.png');
        background-position: 0 0;
        animation: coasts 150s linear infinite;
    }
  
    .coast-right {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 102px;
        z-index: 9999; 
        background-image: url('../img/coast_right.png');
        background-position: 0 0;
        animation: coasts 150s linear infinite;
    }
    
    .popup, .shalom, .bye {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
//        position: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 100002;
        background-size: 16px 48px;
        display: none;
        
        .popup-message, .shalom-message, .bye-message {
            overflow: hidden;
            height: 768px;
            width: 1024px;
            position: relative;
            text-align: center;
            
            h1 {
                color: #fff;
                font-size: 48px;
                margin: 100px 0 30px 0;
                font-family: 'Love Ya Like A Sister';
            }
            
            .short-link {
                display: block;
                font-size: 36px;
                text-align: center;
                width: 312px;
                height: 76px;
                margin: 20px auto;
                text-decoration: none;
                background-image: url('../img/link-bg.png');
                color: #9d1e1e;
                font-family: 'Love Ya Like A Sister';
                line-height: 80px;
            }
            
            .players-row {
                height: 300px;
                margin-top: 100px;
                
                .player-1, .player-2 {
                    width: 300px;
                    height: 300px;
                    display: inline-block;
                    opacity: 0.7;
                  
                    .avatar {
                        width: 300px;
                        height: 300px;
                        background-size: cover;
                    }
                    span {
                        color: #fff;
                        font-family: 'Finger Paint';
                        font-size: 40px;  
                    }
                    
                    &.logged {
                        opacity: 1;
                    }
                }
                
                .player-1 {
                  
                    .avatar {
                        background-image: url('../img/hand_1.png')
                    }
                }
                
                .player-2 {
                    margin-left: 50px;

                    .avatar {
                        background-image: url('../img/hand_2.png')
                    }
                }
            }
        }
        
        .timer {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            top: 0;
            background: #000;
            color: #fff;
            font-size: 100px;
            transition: all .5s;
            
            &.hidden {
                top: 768px;
            }
            
            h1 {
                font-size: 150px;
            }

            .countdown {
                
            }
        }
    }
    
    
    .shalom, .bye {
      z-index: 100002;
      display: block;
      
      .shalom-title, .bye-title {
        span {
          font-size: 24px;
          position: relative;
          white-space: nowrap;
          font-family: 'Finger Paint';
          top: 125px;
          color: #fff;
        }
      }
      
      .shalom-title {
          background-image: url('../img/logo.png');
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          height: 106px;
          margin: 30px auto 25px;
      }
      
      .logo, .logo-last {
        width: 400px;
        height: 350px;
        margin: 67px auto 0;
        position: relative;
        
        .helm {
          width: 395px;
          height: 397px;
          position: absolute;
          top: 0;
          background-image: url(../img/helm.png);
          animation: helm 10s linear infinite;
          background-repeat: no-repeat;
          transition: all 1s linear;
          transform: rotate(0deg);
        }
        
        .herb  {
          width: 201px;
          height: 229px;
          background-image: url('../img/gerb.png');
          position: absolute;
          top: 50px;
          left: 100px;
          transform: scale(0.8);
          animation: pulse 3s linear infinite;
        }
      }
      
      .play, .replay {
        width: 191px;
        height: 59px;
        display: block;
        background-image: url('../img/button.png');
        margin: 90px auto;
        
        &:hover {
          background-image: url('../img/button_hover.png');
        }
      }
    }
    .bye {
      display: none;
    }
    .screen {
        height: 768px;
        width: 1024px;
        position: relative;
        background-color: magenta;
        overflow: hidden;
        
        .crack-bar {
            width: 322px;
            height: 29px;
            position: absolute;
            left: 50%;
            margin-left: -150px;
//            left: 50px;
            top: 30px;
            
            .eye {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                background-image: url(../img/eye.png);
                border-radius: 26px;
                top: -12px;
                left: -30px;
                box-sizing: border-box;
                z-index: 5;
            }
            
            .status {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 15px;
                z-index: 1;
              
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/progres_frame.png);
                    position: absolute;
                    z-index: 9;
                }

                .persent {
                    width: 25%;
                    background-image: url(../img/progres.png);
                    height: 100%;
                    position: relative;
                    animation: crack 10s linear infinite;
                }
            }
        }
        
        .compas {
            position: absolute;
            width: 95px;
            height: 83px;
            top: 20px;
            right: 20px;
            border-radius: 36px;
            background-image: url('../img/compas.png');
            
            .arrow {
                width: 34px;
                height: 46px;
                position: absolute;
                top: 20px;
                left: 35px;
                background-image: url('../img/compas_arrow.png');
                animation: compas 1s linear infinite;
            }
        }
      
        .ship-zone {
            position: absolute;
            bottom: 200px;
            width: 100%;
            text-align: center;
            
            .ship {
                display: inline-block;
                position: relative;
                width: 70px;
                left: 0;
                -webkit-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear;
                img {
                  width: 100%;
                }
            }
        }
        
        .helm {
            width: 395px;
            height: 397px;
            position: absolute;
            bottom: -210px;
            left: 50%;
            margin-left: -198px;
            background-image: url(../img/helm.png);
            //animation: helm 5s linear infinite;
            background-repeat: no-repeat;
            -webkit-transition: all 1s linear;
            -moz-transition: all 1s linear;
            -ms-transition: all 1s linear;
            -o-transition: all 1s linear;
            transition: all 1s linear;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}

.wave {
  width: 100%;
  height: 80px;
  position: absolute;
  background-position: 0;

  &:nth-child(2n+1) {
    animation: waveLeft 150s linear infinite;
    background-image: url('../img/waves_left.png');
  }

  &:nth-child(2n+2) {
    animation: waveRight 300s linear infinite;
    background-image: url('../img/waves_right.png');
  }
}

.props {
  position: absolute;
  z-index: 9998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  img {
    position: absolute;
    transition: top 1000ms linear, transform 500ms linear;
    
    &.mirror {
      transform: scale(-1, 1);
    }
  }
}

.props-storage {
  position: absolute;
  opacity: 0;
}