@import "_animation";

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: cyan;
    z-index: 1;
    
    .popup {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
//        position: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 100;
        background: 
        linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
        linear-gradient(63deg, transparent 74%, #999 78%), 
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
        #444;
        background-size: 16px 48px;
        display: none;
        
        .popup-message {
            overflow: hidden;
            height: 768px;
            width: 1024px;
            position: relative;
            background-color: magenta;
            overflow: hidden;
            text-align: center;
            
            h1 {
                color: #fff;
                font-size: 50px;
                margin: 100px 0 30px 0;
            }
            
            .short-link {
                font-size: 40px;
                text-align: center;
            }
            
            .players-row {
                height: 300px;
                margin-top: 100px;
                
                .player-1, .player-2 {
                    width: 300px;
                    height: 300px;
                    display: inline-block;
                    opacity: 0.7;
                    cursor: pointer;
                    
                    &.logged {
                        opacity: 1;
                    }
                }
                
                .player-1 {
                    background-color: cadetblue;
                }
                
                .player-2 {
                    margin-left: 50px;
                    background-color: darkcyan;
                }
            }
        }
        
        .timer {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            top: 0;
            background: #000;
            color: #fff;
            font-size: 100px;
            
            &.hidden {
                display: none;
            }
            
            h1 {
                font-size: 150px;
            }

            .countdown {
                
            }
        }
    }

    .screen {
        height: 768px;
        width: 1024px;
        position: relative;
        background-color: magenta;
        overflow: hidden;
        
        .crack-bar {
            width: 322px;
            height: 29px;
            position: absolute;
            left: 50%;
            margin-left: -150px;
            top: 30px;
            
            .eye {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                background-image: url(../img/eye.png);
                border-radius: 26px;
                top: -12px;
                left: -30px;
                box-sizing: border-box;
                z-index: 5;
            }
            
            .status {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 15px;
                z-index: 1;
              
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/progres_frame.png);
                    position: absolute;
                    z-index: 9;
                }

                .persent {
                    width: 25%;
                    background-image: url(../img/progres.png);
                    height: 100%;
                    position: relative;
                    animation: crack 10s linear infinite;
                }
            }
        }
        
        .compas {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 20px;
            right: 20px;
            border-radius: 36px;
            background-color: #fff;
            box-shadow: 0 0 0 2px;
            
            .arrow {
                width: 60px;
                height: 6px;
                background: #000;
                position: absolute;
                top: 32px;
                left: 5px;
                background: #ff3236;
                background: -moz-linear-gradient(left, #ff3236 0%, #ff3033 50%, #2923dd 51%, #2923dd 100%);
                background: -webkit-linear-gradient(left, #ff3236 0%,#ff3033 50%,#2923dd 51%,#2923dd 100%);
                background: linear-gradient(to right, #ff3236 0%,#ff3033 50%,#2923dd 51%,#2923dd 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#2923dd',GradientType=1 );
                
                animation: compas 1s linear infinite;
            }
        }
        
        .helm {
            width: 395px;
            height: 397px;
            position: absolute;
            bottom: -169px;
            left: 50%;
            margin-left: -198px;
            background-image: url(../img/helm.png);
            animation: helm 5s linear infinite;
            background-repeat: no-repeat;
        }
    }
}