@import "_animation";

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: cyan;
    z-index: 1;
  
    .hud {
      z-index: 10000;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .popup {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
//        position: fixed;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 100;
        background: 
        linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
        linear-gradient(63deg, transparent 74%, #999 78%), 
        linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
        #444;
        background-size: 16px 48px;
        display: none;
        
        .popup-message {
            overflow: hidden;
            height: 768px;
            width: 1024px;
            position: relative;
            background-color: magenta;
            text-align: center;
            
            h1 {
                color: #fff;
                font-size: 50px;
                margin: 100px 0 30px 0;
                font-family: 'Finger Paint';
                text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
            }
            
            .short-link {
                font-size: 40px;
                text-align: center;
            }
            
            .players-row {
                height: 300px;
                margin-top: 100px;
                
                .player-1, .player-2 {
                    width: 300px;
                    height: 300px;
                    display: inline-block;
                    opacity: 0.7;
                  
                    .avatar {
                        width: 300px;
                        height: 300px;
                        background-size: cover;
                    }
                    span {
                        color: #fff;
                        font-family: 'Finger Paint';
                        font-size: 40px;  
                    }
                    
                    &.logged {
                        opacity: 1;
                    }
                }
                
                .player-1 {
                  
                    .avatar {
                        background-image: url('../img/hand_1.png')
                    }
                }
                
                .player-2 {
                    margin-left: 50px;

                    .avatar {
                        background-image: url('../img/hand_2.png')
                    }
                }
            }
        }
        
        .timer {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 100;
            top: 0;
            background: #000;
            color: #fff;
            font-size: 100px;
            
            &.hidden {
                display: none;
            }
            
            h1 {
                font-size: 150px;
            }

            .countdown {
                
            }
        }
    }

    .screen {
        height: 768px;
        width: 1024px;
        position: relative;
        background-color: magenta;
        overflow: hidden;
        
        .crack-bar {
            width: 322px;
            height: 29px;
            position: absolute;
//            left: 50%;
//            margin-left: -150px;
            left: 50px;
            top: 30px;
            
            .eye {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                background-image: url(../img/eye.png);
                border-radius: 26px;
                top: -12px;
                left: -30px;
                box-sizing: border-box;
                z-index: 5;
            }
            
            .status {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 15px;
                z-index: 1;
              
                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/progres_frame.png);
                    position: absolute;
                    z-index: 9;
                }

                .persent {
                    width: 25%;
                    background-image: url(../img/progres.png);
                    height: 100%;
                    position: relative;
                    animation: crack 10s linear infinite;
                }
            }
        }
        
        .compas {
            position: absolute;
            width: 95px;
            height: 83px;
            top: 20px;
            right: 20px;
            border-radius: 36px;
            background-image: url('../img/compas.png');
            
            .arrow {
                width: 34px;
                height: 46px;
                position: absolute;
                top: 20px;
                left: 35px;
                background-image: url('../img/compas_arrow.png');
                animation: compas 1s linear infinite;
            }
        }
      
        .ship-zone {
            position: absolute;
            bottom: 200px;
            width: 100%;
            text-align: center;
            
            .ship {
                display: inline-block;
                position: relative;
                width: 100px;
                img {
                  width: 100%;
                }
            }
        }
        
        .helm {
            width: 395px;
            height: 397px;
            position: absolute;
            bottom: -210px;
            left: 50%;
            margin-left: -198px;
            background-image: url(../img/helm.png);
            animation: helm 5s linear infinite;
            background-repeat: no-repeat;
        }
      
        .wave {
          width: 100%;
          height: 80px;
          background-image: url('../img/waves.png');
          position: absolute;
          background-position: 0;
          
          &:nth-child(2n+1) {
            animation: waveLeft 150s linear infinite;
          }
          
          &:nth-child(2n+2) {
            animation: waveRight 300s linear infinite;
          }
        }
    }
}